<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래 검색</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js 추가 -->
</head>
<body>
<div class="container mt-5">
    <form action="/aptRanking" method="GET">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="region">지역</label>
                <select id="region" name="region" class="form-control" required>
                    <option value="">선택하세요</option>
                    <th:block th:each="entry : ${locations}">
                        <option th:value="${entry.value}" th:text="${entry.key}"></option>
                    </th:block>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="locationName">세부 지역</label>
                <select id="locationName" name="locationName" class="form-control" required>
                    <option value="">선택하세요</option>
                    <!-- 세부 지역은 JavaScript를 통해 동적으로 추가됩니다 -->
                </select>
            </div>
            <div class="form-group col-md-1 align-self-end">
                <button type="submit" class="btn btn-primary btn-block">검색</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
       $('#region').change(function() {
           var regionCode = $(this).val(); // 선택된 지역 코드 가져오기

           $('#locationName').empty().append('<option value="">선택하세요</option>'); // 세부 지역 드롭다운 초기화

           if (regionCode) {
               // AJAX 요청을 통해 세부 지역 가져오기
               $.get('/sub-locations', { regionCode: regionCode }, function(data) {
                   data.forEach(function(loc) {
                       $('#locationName').append('<option value="' + loc + '">' + loc + '</option>');
                   });
               });
           }
       });

       // 세부 지역 드롭다운이 업데이트 된 후에 이벤트 리스너 추가
       $('#locationName').on('change', function() {
           var selectedLocationCode = $(this).val(); // 선택된 세부 지역 코드 가져오기
           console.log('선택된 세부 지역 코드:', selectedLocationCode); // 콘솔에 로그 찍기
       });
    });
</script>

<h1>인기 아파트 Top 20</h1>
<canvas id="myChart" style="max-width: 600px; margin: auto;"></canvas> <!-- 막대 그래프 위치 -->

<ul>
    <li th:each="apartment : ${topApartments}" th:text="${apartment}"></li>
</ul>




<!-- 홈 버튼 -->
<a href="/" class="btn btn-primary mb-3">홈</a>

</body>
</html>
