<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>검색 결과</h2>
    <table class="table">
        <thead>
        <tr>
            <th>이름</th>
            <th>건축년도</th>
            <th>가격</th>
            <th>전용면적</th>
            <th>거래일자</th>
            <th>층</th>
            <th>법정동</th>
            <th>지번</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ranking : ${transactions}">
            <td th:text="${ranking.aptNm}"></td>
            <td th:text="${ranking.buildYear}"></td>
            <td th:text="${ranking.dealAmount}"></td>
            <td th:text="${ranking.excluUseAr}"></td>
            <td th:text="${ranking.dealYear} + '-' + ${ranking.dealMonth} + '-' + ${ranking.dealDay}"></td>
            <td th:text="${ranking.floor}"></td>
            <td th:text="${ranking.umdNm}"></td>
            <td th:text="${ranking.jibun}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 페이징 링크 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- 이전 버튼 -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/search1(locationName=${locationName},minPrice=${minPrice}, maxPrice=${maxPrice}, minArea=${minArea},maxArea=${maxArea},dealDate=${dealDate},sortBy=${sortBy},page=${currentPage - 1}, size=${size})}">이전</a>
            </li>
            <!-- 페이지 번호 범위 계산 -->
            <li class="page-item" th:each="i : ${#numbers.sequence(T(java.lang.Math).max(0, currentPage - 2), T(java.lang.Math).min(totalPages - 1, currentPage + 2))}"
                th:classappend="${currentPage == i} ? 'active'">
                <a class="page-link" th:href="@{/search1(locationName=${locationName},minPrice=${minPrice}, maxPrice=${maxPrice}, minArea=${minArea}, maxArea=${maxArea}, dealDate=${dealDate},sortBy=${sortBy},page=${i}, size=${size})}" th:text="${i + 1}"></a>
            </li>
            <!-- 다음 버튼 -->
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a class="page-link" th:href="@{/search1(locationName=${locationName}, minPrice=${minPrice}, maxPrice=${maxPrice},minArea=${minArea}, maxArea=${maxArea}, dealDate=${dealDate},sortBy=${sortBy},page=${currentPage + 1}, size=${size})}">다음</a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>
